.additional-item {
  @include catalog-border;
  padding-top: 14px;
  padding-bottom: 17px;
  display: flex;
  flex-direction: column;
}

.additional-item__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: $label-color;
  margin: 0;
  margin-bottom: 15px;
}

.additional-item__prise-unit {
  margin: 0;
  margin-bottom: 14px;
}

@media (min-width: $tablet-width) {
  .additional-item {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .additional-item__title,
  .additional-item__price-unit {
    width: 50%;
  }

  .additional-item__order {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .additional-item {
    flex-wrap: nowrap;
  }

  .additional-item__price-unit {
    width: 30%;
  }

  .additional-item__order {
    width: 245px;
  }
}
