.additional-list {
  @include list-reset;
  margin-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .additional-list {
    margin-bottom: 70px;
  }
}

@media (min-width: $desktop-width) {
  .additional-list {
    margin-bottom: 0;
  }
}
