.additional-item {
  @include catalog-border;
  padding-top: 7px;
  padding-bottom: 17px;
  display: flex;
  flex-direction: column;

  &:first-child {
    border-top: 1px solid $border-color;
  }
}

.additional-item__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: $label-color;
  margin: 0;
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .additional-item {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    padding-top: 15px;
    padding-right: 37px;
    padding-bottom: 15px;
    padding-left: 37px;
    min-height: 139px;
    border: 1px solid $border-color;
  }

  .additional-item__title {
    width: calc(60% - 10px);
    font-size: 20px;
    line-height: 1;
    margin: 0;
  }

  .additional-item__price-unit {
    width: calc(40% - 10px);
    margin: 0;
  }

  .additional-item__order {
    font-size: 16px;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .additional-item {
    flex-wrap: nowrap;
    min-height: 72px;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    border-right: none;
    border-left: none;
  }

  .additional-item__title {
    width: 290px;
    padding-right: 10px;
  }

  .additional-item__price-unit {
    width: 290px;
  }

  .additional-item__order {
    width: 245px;
  }
}
