.additional-products {
  @include mobile-padding;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    margin-left: -20px;
    height: 3px;
    background-color: #68b738;
    top: 40px;
    z-index: -1;
  }
}

.additional-products__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: $title-color;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-right: 25px;
  padding-left: 25px;
  margin-left: -25px;
  display: inline-block;
  position: relative;
  background-color: $primary-bg;
}

.additional-products__order-all {
  font-size: 16px;
  line-height: 1.25;
  background-color: rgb(104, 183, 56);
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 100%;
  min-height: 289px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 130px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 35px;
  position: relative;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  &::after {
    position: absolute;
    content: "";
    width: 56px;
    height: 61px;
    color: rgb(255, 255, 255);
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/icon-gift.svg");
  }
}

@media (min-width: $tablet-width) {
  .additional-products {
    padding: 0;

    &::before {
      top: 20px;
      width: calc(100% + 60px);
      margin-left: -30px;
    }
  }

  .additional-products__title {
    font-size: 36px;
    line-height: 1;
    padding-top: 0;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 0;
    border-bottom: none;
    margin-left: 0;
    margin-bottom: 75px;
  }

  .additional-products__order-all {
    min-height: 200px;
    padding-left: 60%;
    padding-right: 125px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    margin-bottom: 80px;
    align-items: center;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }

    &::after {
      left: 120px;
    }
  }
}

@media (min-width: $desktop-width) {
  .additional-products::before {
    top: 23px;
    width: calc(100% + 80px);
    margin-left: -40px;
  }

  .additional-products__title {
    padding-left: 0;
    margin-bottom: 82px;
  }

  .additional-products__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 85px;
  }

  .additional-products__list {
    width: 893px;
  }

  .additional-products__order-all {
    width: 245px;
    min-height: 289px;
    text-align: center;
    align-items: flex-end;
    padding-top: 135px;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 40px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    margin-bottom: 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}
