.button {
  font-family: "Oswald", "Arial", sans-serif;
  background-color: $button-bg;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 14px 10px 11px 10px;
  text-decoration: none;
  display: inline-block;
}
