.button {
  font-family: "Oswald", "Arial", sans-serif;
  background-color: $button-bg;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  display: inline-block;
  min-height: 40px;
}

@media (min-width: $tablet-width) {
  .button {
    min-width: 52px;
    font-size: 20px;
  }
}
