.cat-date {
  border: none;
  padding-top: 10px;
  padding-bottom: 23px;
}

.cat-date__item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.cat-date__label {
  margin-right: 15px;
}

.cat-date__input {
  height: 45px;
  flex-grow: 1;

  &[type="number"]::-webkit-outer-spin-button,
  &[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &[type="number"] {
    appearance: textfield;
  }
}

@media (min-width: $tablet-width) {
  .cat-date {
    padding-top: 20px;
    padding-bottom: 75px;
  }

  .cat-date__item {
    margin-bottom: 20px;
  }

  .cat-date__input {
    height: 52px;
    padding: 5px 20px;
  }
}

@media (min-width: $desktop-width) {
  .cat-date {
    width: calc(50% - 40px);
    max-width: 700px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
