.catalog {
  overflow-x: hidden;
}

.catalog__additional {
  @include mobile-padding;
}

.catalog__title {
  @include mobile-padding;
  @include section-title;
  min-height: 103px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(239, 239, 239);
  display: flex;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .catalog__food {
    @include tablet-padding;
  }

  .catalog__additional {
    @include tablet-padding;
  }

  .catalog__title {
    margin: 0;

    @include tablet-padding;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 115px;
    border-bottom: none;
    font-size: 60px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding: 0;
  }

  .catalog__title {
    @include block-centered;
    min-height: 110px;
  }

  .catalog__food,
  .catalog__additional {
    @include block-centered;
  }
}
