.catalog {
  @include mobile-padding;
}

.catalog__title {
  @include section-title;
  color: $title-color;
  margin: 0;
  padding: 30px 22px 36px 22px;
  border-bottom: 1px solid rgb(239, 239, 239);
}

@media (min-width: $tablet-width) {
  .catalog {
    @include tablet-padding;
  }

  .catalog__title {
    margin-bottom: 156px;
    border-bottom: none;
  }
}
