.costs {
  font-family: "Oswald", "Arial", sans-serif;
  color: rgb(17, 17, 17);
  text-transform: uppercase;
  display: flex;
}

.costs__option {
  margin: 0;
}

.costs__value {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .costs {
    font-size: 20px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 0;
    padding-top: 5px;
  }
}

@media (min-width: $desktop-width) {
  .costs {
    flex-direction: row;
    justify-content: flex-start;
  }

  .costs__option {
    margin-right: 65px;
  }
}
