.food-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.food-list__item {
  @include catalog-border;
  @include mobile-padding;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 280px;
  min-height: 210px;
}

.food-list__link {
  text-decoration: none;
}

.food-list__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $title-color;
  text-transform: uppercase;
}

.food-list__info {
  font-size: 12px;
  line-height: 16px;
}

.food-list__order {
  font-size: 16px;
  width: 280px;
}

@media (min-width: $tablet-width) {
  .food-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .food-list__item {
    width: calc(50% - 30px);
    background-color: $secondary-bg;
    margin-bottom: 140px;
    min-height: 431px;
  }

  .food-list__order {
    width: 249px;
  }
}

@media (min-width: $desktop-width) {
  .food-list__item {
    width: calc(25% - 40px);
  }
}
