.food-list {
  @include list-reset;
}

.food-list__item {
  @include catalog-border;
  padding: 25px 20px;
}

.food-list__link {
  text-decoration: none;
}

.food-list__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $title-color;
  text-transform: uppercase;
}

.food-list__info {
  font-size: 12px;
  line-height: 16px;
}

.food-list__order {
  font-size: 16px;
}
