.food-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.food-list__item {
  @include mobile-padding;
  border-bottom: 1px solid $border-color;
  padding-bottom: 23px;
  min-height: 209px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.food-list__title-link {
  text-decoration: none;
}

.food-list__wrapper {
  padding-top: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.food-list__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $title-color;
  text-transform: uppercase;
  width: 60%;
  margin: 0;
  margin-bottom: 12px;
}

.food-list__img-link {
  width: 140px;
  height: 144px;
}

.food-list__order {
  font-size: 16px;
  width: 280px;
}

@media (min-width: $tablet-width) {
  .food-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  .food-list__item {
    width: calc(50% - 30px);
    background-color: $secondary-bg;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 35px;
    margin-top: 140px;
    min-height: 431px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .food-list__title-link {
    margin-bottom: 20px;
  }

  .food-list__title {
    font-size: 20px;
    width: 140px;
    margin: 0 auto;
    text-align: center;
  }

  .food-list__order {
    width: calc(100% - 70px);
  }

  .food-list__img-link {
    margin-top: -15%;
    width: 316px;
    height: auto;

    &--big {
      margin-top: -25%;
    }
  }

  .food-list__wrapper {
    width: 100%;
    padding-bottom: 15px;
    padding-right: 35px;
    padding-left: 35px;
  }
}

@media (min-width: $desktop-width) {
  .food-list {
    margin-bottom: 75px;
  }

  .food-list__item {
    width: calc(25% - 60px);
    margin: 0;
    margin-top: 142px;
  }

  .food-list__img-link {
    margin-top: -20%;
    width: 245px;
    height: auto;

    &--big {
      margin-top: -35%;
    }
  }
}
