.footer-contacts {
  position: relative;
}

.footer-contacts__map {
  min-height: 362px;
  background-image: url("../../img/bg-map-mobile@1x.png");
  background-position: bottom center;
}

@media (min-width: $tablet-width) {
  .footer-contacts__map {
    background-image: url("../../img/bg-map-tablet@1x.png");
    min-height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .footer-contacts__address {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
  }

  .footer-contacts__map {
    background-image: url("../../img/bg-map-desktop@1x.png");
  }
}
