.footer-contacts {
  position: relative;
}

.footer-contacts__address {
  position: absolute;
  top: 0;
  left: 0;
}

.footer-contacts__map {
  height: 400px;
  background-image: url("../../img/bg-map-mobile@1x.png");
  background-position: center;

}

@media (min-width: $desktop-width) {
  .footer-contacts__address {
    width: 570px;
    min-height: 210px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
