.form-page {
  padding-top: 30px;
}

.form-page__title {
  font-size: 36px;
  color: $title-color;
  margin: 0 0 35px 0;
}

.form-page__invite {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 39px;
}
