.form-comment {
  padding-top: 10px;
  padding-bottom: 20px;
}

.form-comment__legend {
  margin-bottom: 30px;
}

.form-comment__input {
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 150px;
  width: 100%;
  resize: none;
}

@media (min-width: $tablet-width) {
  .form-comment {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .form-comment__legend {
    margin-bottom: 75px;
  }

  .form-comment__input {
    padding-top: 13px;
    min-height: 174px;
  }
}
