.form-page {
  padding-top: 30px;
}

.form-page__title {
  @include section-title;
  margin: 0 0 35px 0;
}

.form-page__invite {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 39px;
}
