.main-banner {
  padding: 20px;
  background-color: green; //temporary
  background-image: url("../../img/index-background-mobile@1x.jpg");
  color: rgb(255, 255, 255);
  margin-bottom: 22px;
}

.main-banner__title {
  font-size: 36px;
}

.main-banner__description {
  text-transform: uppercase;
}
