.main-banner {
  position: relative;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 22px;
}

.main-banner__wrapper {
  color: #ffffff;
  background-color: rgb(99, 169, 55);
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 305px;
  padding: 25px 20px 125px 20px;
  text-align: center;
  width: 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/index-background-mobile@2x.jpg");
  }
}

.main-banner__title {
  @include section-title;
  color: (225, 225, 225);
  line-height: 1;
  margin-bottom: 20px;
}

.main-banner__description {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  margin: 0;
}

.main-banner__img {
  display: block;
  margin-top: -137px;
}

.main-banner__confirm {
  min-width: 280px;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, -50%);
}

@media (min-width: $tablet-width) {
  .main-banner {
    @include tablet-padding;
    align-items: start;
    padding-left: 120px;
    min-height: 835px;
  }

  .main-banner__wrapper {
    background: none;
    text-align: left;
    padding-bottom: 48px;
    padding-left: 0;
    min-height: 130px;
    width: 450px;
    z-index: 10;
  }

  .main-banner__title {
    color: $title-color;
    font-size: 60px;
    margin-bottom: 35px;
  }

  .main-banner__description {
    color: $title-color;
    font-size: 20px;
    margin-bottom: 45px;
  }

  .main-banner__confirm {
    min-width: 245px;
    z-index: 10;
    position: static;
    transform: none;
  }

  .main-banner__img {
    display: block;
    position: absolute;
    bottom: 0;
    right: 250px;
    width: 709px;
    height: 609px;
  }
}

@media (min-width: $desktop-width) {
  .main-banner {
    @include block-centered;
    min-height: 555px;
  }

  .main-banner__wrapper {
    width: 50%;
    padding-left: 80px;
    padding-top: 80px;
  }

  .main-banner__title {
    font-size: 60px;
    margin-bottom: 36px;
  }

  .main-banner__description {
    margin-bottom: 45px;
  }

  .main-banner__confirm {
    display: inline-block;
  }

  .main-banner__img {
    right: 33%;
    width: 552px;
    height: 499px;
  }
}
