.owner-date {
  padding-top: 10px;
  padding-bottom: 20px;
}

.owner-date__legend {
  margin-bottom: 32px;
  width: 220px;
}

.owner-date__item {
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }
}

.owner-date__icon {
  position: absolute;
  fill: $label-color;

  &--mail {
    right: 15px;
    width: 18px;
    height: 14px;
  }

  &--phone {
    right: 13px;
    width: 21px;
    height: 21px;
  }
}

.owner-date__input {
  width: 100%;
  height: 45px;
  padding-right: 40px;

  &:focus + .owner-date__icon {
    fill: $button-bg;
  }

  &:focus:invalid + .owner-date__icon {
    fill: red;
  }
}

.owner-date__label {
  margin-right: 10px;
}

@media (min-width: $tablet-width) {
  .owner-date {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .owner-date__legend {
    margin-bottom: 75px;
    width: auto;
  }

  .owner-date__item {
    height: 52px;
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .owner-date__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .owner-date__item {
    width: calc(50% - 39px);
    margin-bottom: 0;
  }

  .owner-date__input {
    height: 52px;
  }

  .owner-date__label {
    margin-right: 20px;
  }

  .owner-date__icon {
    right: 20px;
  }
}
