.page-header {
  @include catalog-border;
  padding-top: 11px;
  min-height: 65px;
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  @include mobile-padding;
  padding-right: 50px;
  min-height: 55px;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    @include tablet-padding;
    padding-top: 25px;
    padding-bottom: 25px;
    min-height: 110px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
  }

  .page-header__logo {
    width: 174px;
    height: 59px;
    margin: 0;
    border: none;
    padding: 0;
  }

  .page-header__nav {
    width: calc(100% - 270px);
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    @include block-centered;
    padding-top: 35px;
    padding-bottom: 25px;
    min-height: 160px;

    &--background {
      &::before {
        content: "";
        width: 50%;
        height: 696px;
        background-color: rgb(34, 139, 34);
        background-image: url("../img/index-background-desktop@1x.jpg");
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;

        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
          background-image: url("../img/index-background-desktop@2x.jpg");
        }
      }
    }
  }

  .page-header__logo {
    width: 203px;
    margin: 0;
  }

  .page-header__logo-img {
    width: 203px;
    height: 60px;
  }

  .page-header__nav {
    width: 50%;
  }
}
