.page-footer {
  background-color: $secondary-bg;
}

.page-footer__wrapper {
  @include mobile-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  border-bottom: 1px solid rgb(218,218,218);
  min-height: 94px;
  display: flex;
  align-items: center;
}

.page-footer__social {
  min-height: 62px;
  border-bottom: 1px solid rgb(218,218,218);
}

.page-footer__copyright {
  min-height: 78px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    @include tablet-padding;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    padding: 0;
    width: 100%;

    @include block-centered;
  }
}
