.request-form {
  font-family: "Oswald", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  padding-bottom: 34px;
}

.request-form__field-wrapper {
  @include mobile-padding;
}

.request-form__field-group {
  border: none;
  padding: 0;
  margin: 0;
}

.request-form__list {
  @include list-reset;
}

.request-form__legend {
  position: relative;
  width: 100%;
  font-size: 24px;
  line-height: 1;
  padding: 0;
  color: $title-color;

  &::after {
    @include title-line;
    top: 12px;
    margin-left: 23px;
  }
}

.request-form__label {
  font-size: 16px;
  line-height: 18px;
  color: $label-color;
  text-transform: uppercase;
  white-space: nowrap;
}

.request-form__input {
  font-family: "Oswald", "Arial", sans-serif;
  outline: solid 1px rgba(205, 205, 205, 0.5);
  font-size: 16px;
  padding-right: 13px;
  padding-left: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 1;
  color: $input-color;
  text-transform: uppercase;

  &:hover {
    outline: solid 1px rgb(205, 205, 205);
  }

  &:focus {
    outline: solid 2px $text-color;
  }

  &:focus:invalid {
    outline: solid 2px rgb(255, 130, 130);
  }
}

.request-form__submit {
  font-size: 16px;
  border: none;
  width: 280px;
  align-self: center;
  margin-bottom: 23px;
}

.request-form__footnote {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  align-self: center;
}

@media (min-width: $tablet-width) {
  .request-form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 72px;
  }

  .request-form__legend {
    font-size: 36px;
    line-height: 1;

    &::after {
      @include title-line;
      top: 16px;
      margin-left: 47px;
    }

    &::before {
      @include title-line;
      top: 16px;
      margin-left: calc(-100% - 20px);
    }
  }

  .request-form__label,
  .request-form__input {
    font-size: 20px;
  }

  .request-form__input {
    padding-left: 20px;
  }

  .request-form__field-wrapper {
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
  }

  .request-form__submit {
    font-size: 20px;
    min-width: 283px;
    height: 52px;
    margin-bottom: 0;
    margin-left: 40px;
  }

  .request-form__footnote {
    width: calc(50% - 30px);
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .request-form {
    padding-bottom: 80px;
  }

  .request-form__field-wrapper {
    padding: 0;
  }

  .request-form__submit {
    margin: 0;
    width: 568px;
  }
}
