.request-form {
  font-family: "Oswald", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  padding-bottom: 33px;
}

.request-form__fields-centered {
  width: 100%;
}

.request-form__field-wrapper {
  &--line {
    border-top: 3px solid $button-bg;
  }
}

.request-form__field-group {
  border: none;
  padding: 0;
  margin: 0;

  @include mobile-padding;
}

.request-form__list {
  @include list-reset;
}

.request-form__legend {
  padding: 0;
  padding-right: 25px;
  padding-left: 20px;
  margin-left: -20px;
  top: -25px;
  position: relative;
  font-size: 24px;
  line-height: 1;
  color: $title-color;
  background-color: $primary-bg;
}

.request-form__label {
  font-size: 16px;
  line-height: 18px;
  color: $label-color;
  text-transform: uppercase;
  white-space: nowrap;
}

.request-form__input {
  font-family: "Oswald", "Arial", sans-serif;
  outline: solid 1px rgba(205, 205, 205, 0.5);
  border: none;
  font-size: 16px;
  padding-right: 13px;
  padding-left: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 1;
  color: $input-color;
  text-transform: uppercase;

  &:hover {
    outline: solid 1px rgb(205, 205, 205);
  }

  &:focus {
    outline: solid 2px $text-color;
  }

  &:focus:invalid {
    outline: solid 2px rgb(255, 130, 130);
  }
}

.request-form__submit {
  font-size: 16px;
  border: none;
  width: 280px;
  align-self: center;
  margin-bottom: 20px;
}

.request-form__footnote {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  align-self: center;
}

@media (min-width: $tablet-width) {
  .request-form {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 75px;
  }

  .request-form__legend {
    font-size: 36px;
    line-height: 1;
    padding-right: 40px;
    padding-left: 40px;
    margin-left: -42px;
    top: -45px;
  }

  .request-form__label,
  .request-form__input {
    font-size: 20px;
    line-height: 1;
  }

  .request-form__input {
    padding-left: 20px;
  }

  .request-form__field-wrapper {
    padding-left: 70px;
    padding-right: 70px;
    width: 100%;
  }

  .request-form__field-group {
    padding: 0;
  }

  .request-form__submit {
    font-size: 20px;
    min-width: 283px;
    height: 52px;
    margin-bottom: 0;
    margin-left: 70px;
    margin-right: 60px;
  }

  .request-form__footnote {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .request-form {
    padding-bottom: 80px;
    justify-content: space-between;
  }

  .request-form__field-wrapper {
    padding: 0;
  }

  .request-form__fields-centered {
    @include block-centered;

    &--row {
      display: flex;
    }
  }

  .request-form__legend {
    padding-right: 40px;
  }

  .request-form__submit {
    margin: 0;
    width: 568px;
    margin-right: 80px;
  }
}
