.site-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
}

.site-list__item {
  @include mobile-padding;
  @include catalog-border;
  padding: 10px 12px;
  min-height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-list__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: $title-color;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;

  &[href]:hover,
  &[href]:focus {
    color: $mobile-menu-hover;
  }

  &[href]:active {
    color: $mobile-menu-down;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .site-list__item {
    border: none;
    padding: 0;
    margin-right: 10px;
    min-height: 35px;

    &:last-child {
      margin-right: 0;
    }
  }

  .site-list__link {
    font-size: 18px;

    &--active::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: $menu-active;
      position: absolute;
      bottom: -7px;
      left: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    justify-content: flex-end;
  }

  .site-list__item {
    margin-right: 35px;
  }

  .site-list__link {
    font-size: 20px;
  }

  .page-header--background .site-list__link {
    color: rgb(255, 255, 255);

    &--active::after {
      background-color: rgb(255, 255, 255);
    }

    &[href]:hover,
    &[href]:focus {
      color: rgba(255, 255, 255, 0.6);
    }

    &[href]:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}
