.site-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
}

.site-list__item {
  @include mobile-padding;
  @include catalog-border;
  min-height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-list__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: $title-color;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .site-list__item {
    border: none;
    padding: 0;
  }
}
