.slider {
  width: 311px;
  margin: 0 auto;
}

.slider__list {
  @include list-reset;
  margin-bottom: 30px;
}

.slider__item {
  display: none;

  &--active {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .slider {
    width: 636px;
  }

  .slider__item {
    height: 517px;
  }
}
