.slider {
  width: 311px;
  margin: 0 auto;
}

.slider__list {
  @include list-reset;
  margin-bottom: 40px;
}

.slider__item {
  display: none;

  &--active {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .slider {
    width: 636px;
  }

  .slider__item {
    height: 517px;
  }

  .slider__list {
    margin-bottom: 10px;
  }

  .slider__img {
    width: 690px;
    height: 517px;
  }
}

@media (min-width: $desktop-width) {
  .slider__list {
    margin-bottom: 25px;
  }
}
