.testimonial {
  background-color: $secondary-bg;
  padding-top: 33px;
  padding-bottom: 39px;
}

.testimonial__title {
  @include section-title;
  margin: 0;
  margin-bottom: 33px;
}

.testimonial__result {
  line-height: 18px;
  margin: 0;
  margin-bottom: 27px;
}

@media (min-width: $desktop-width) {
  .testimonial__wrapper {
    @include block-centered;
  }
}
