.testimonial {
  background-color: $secondary-bg;
  padding-top: 20px;
  padding-bottom: 39px;
}

.testimonial__description {
  @include mobile-padding;

  display: flex;
  flex-direction: column;
}

.testimonial__title {
  @include section-title;
  margin: 0;
  margin-bottom: 25px;
}

.testimonial__result {
  line-height: 18px;
  margin: 0;
  margin-bottom: 27px;
}

.testimonial__summary,
.testimonial__costs {
  justify-content: center;
}

.testimonial__costs {
  margin-bottom: 44px;
}

@media (min-width: $tablet-width) {
  .testimonial {
    background-color: $primary-bg;
    border-top: 1px solid $border-color;
    padding-top: 45px;
    padding-bottom: 75px;
  }

  .testimonial__title {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 62px;
  }

  .testimonial__description {
    @include tablet-padding;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .testimonial__result {
    font-size: 16px;
    line-height: 1.5;
    padding-right: 30px;
    margin-bottom: 55px;
  }

  .testimonial__summary {
    width: auto;
  }

  .testimonial__costs {
    width: auto;
  }
}

@media (min-width: $desktop-width) {
  .testimonial {
    padding-top: 25px;
    border-top: none;
  }

  .testimonial__wrapper {
    @include block-centered;
    display: flex;
  }

  .testimonial__title {
    margin-bottom: 135px;
  }

  .testimonial__description {
    width: 50%;
    padding: 0;
  }

  .testimonial__result {
    padding-right: 160px;
  }

  .testimonial__summary {
    width: 100%;
  }

  .testimonial__costs {
    width: 100%;
    justify-content: center;
  }
}
