.toggle {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  min-height: 20px;
  width: 200px;
  margin: 0 auto;
}

.toggle__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  border: none;
  padding: 0;
  outline: none;
  background-color: transparent;
  text-transform: uppercase;
}

.toggle__scale {
  width: 84px;
  height: 14px;
  border-color: $input-border;
  border-radius: 40px 40px 40px 40px;
  background-color: #ffffff;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 6px;
  padding-left: 6px;
}

.toggle__bar {
  cursor: pointer;
  width: 50%;
  height: 6px;
  background-color: #68b738;
  border-radius: 40px 40px 40px 40px;

  &--after {
    left: 50%;
  }
}

@media (min-width: $tablet-width) {
  .toggle {
    width: 580px;
    height: 35px;

    &:hover,
    &:focus {
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }

    &:active {
      border-bottom: none;
    }
  }

  .toggle__scale {
    position: relative;
    width: 428px;
    background-color: #eaeaea;
    height: 6px;
    border-radius: 2px;
  }

  .toggle__bar {
    position: absolute;
    top: -13px;
    left: 0;
    box-sizing: content-box;
    width: 8px;
    height: 8px;
    background-color: $button-bg;
    border: 13px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &:hover,
    &:focus {
      box-shadow: 0 0 0 1px $input-border, 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0 0 0 2px $button-bg, 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }
}

@media (min-width: $desktop-width) {
  .toggle {
    width: 570px;
    margin: 0;
    margin-left: auto;
  }

  .toggle__button {
    font-size: 20px;
  }
}
