.tutorial {
  @include mobile-padding;
}

.tutorial__title {
  @include section-title;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .tutorial {
    @include tablet-padding;
  }

  .tutorial__title {
    font-size: 60px;
  }
}

@media (min-width: $desktop-width) {
  .tutorial {
    @include block-centered;
    padding-top: 15px;
  }
}
