@font-face {
  font-weight: normal;
  font-family: "Oswald";
  font-style: normal;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff"); }

@font-face {
  font-weight: bold;
  font-family: "Oswald";
  font-style: normal;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff"); }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  min-width: 320px;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: #444444;
  font-style: normal;
  background-color: white; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%); }

.button {
  font-family: "Oswald", "Arial", sans-serif;
  background-color: #68b738;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  display: inline-block;
  min-height: 40px; }

@media (min-width: 768px) {
  .button {
    min-width: 52px;
    font-size: 20px; } }

.page-header {
  border-bottom: 1px solid #efefef;
  padding-top: 11px;
  min-height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.page-header__logo {
  padding: 0 20px;
  padding-right: 50px;
  min-height: 55px; }
  .page-header__logo[href]:hover, .page-header__logo[href]:focus {
    opacity: 0.8; }
  .page-header__logo[href]:active {
    opacity: 0.6; }

@media (min-width: 768px) {
  .page-header {
    padding: 0 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    min-height: 115px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: none; }
  .page-header__logo {
    width: 174px;
    height: 59px;
    margin: 0;
    border: none;
    padding: 0; }
  .page-header__nav {
    width: calc(100% - 270px); } }

@media (min-width: 1300px) {
  .page-header {
    padding: 0 40px;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 25px;
    min-height: 142px; }
    .page-header--background {
      position: relative; }
      .page-header--background::before {
        content: "";
        width: 50%;
        height: 696px;
        background-color: forestgreen;
        background-image: url("../img/index-background-desktop@1x.jpg");
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0; } }
      @media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1300px) and (min-resolution: 144dpi), (min-width: 1300px) and (min-resolution: 1.5dppx) {
        .page-header--background::before {
          background-image: url("../img/index-background-desktop@2x.jpg"); } }

@media (min-width: 1300px) {
  .page-header__logo {
    width: 203px;
    margin: 0; }
  .page-header__nav {
    width: 50%; } }

@media (min-width: 1440px) {
  .page-header::before {
    right: -70px; } }

.main-nav {
  position: relative; }

.main-nav__burger {
  position: absolute;
  background-color: white;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 25px;
  height: 19px;
  top: -45px;
  right: 20px; }

.main-nav--closed .main-nav__list {
  display: none; }

.main-nav--closed .main-nav__burger::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 2px;
  background-color: #222222;
  -webkit-box-shadow: 0 8px 0 0 #222222, 0 16px 0 0 #222222;
          box-shadow: 0 8px 0 0 #222222, 0 16px 0 0 #222222; }

.main-nav--opened .main-nav__burger {
  height: 25px; }
  .main-nav--opened .main-nav__burger::before, .main-nav--opened .main-nav__burger::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 0;
    width: 25px;
    height: 2px;
    background-color: #222222; }
  .main-nav--opened .main-nav__burger::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .main-nav--opened .main-nav__burger::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.main-nav--nojs .main-nav__burger {
  display: none; }

@media (min-width: 768px) {
  .main-nav__burger {
    display: none; }
  .main-nav .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; } }

.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.site-list__item {
  padding: 0 20px;
  border-bottom: 1px solid #efefef;
  padding: 10px;
  padding-top: 18px;
  text-align: center;
  min-height: 65px; }

.site-list__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 9px; }
  .site-list__link[href]:hover, .site-list__link[href]:focus {
    color: rgba(17, 17, 17, 0.6); }
  .site-list__link[href]:active {
    color: rgba(17, 17, 17, 0.3); }

.site-list__link--active {
  padding-bottom: 7px;
  border-bottom: 2px solid #68b738; }

@media (min-width: 768px) {
  .site-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .site-list__item {
    border: none;
    padding: 0;
    margin-right: 10px;
    min-height: 35px; }
    .site-list__item:last-child {
      margin-right: 0; }
  .site-list__link {
    font-size: 18px; } }

@media (min-width: 1300px) {
  .site-list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .site-list__item {
    margin-right: 35px; }
  .site-list__link {
    font-size: 20px;
    padding-bottom: 10px; }
  .page-header--background .site-list__link {
    color: white; }
    .page-header--background .site-list__link--active {
      border-color: #e1e1e1; }
    .page-header--background .site-list__link[href]:hover, .page-header--background .site-list__link[href]:focus {
      color: rgba(255, 255, 255, 0.6); }
    .page-header--background .site-list__link[href]:active {
      color: rgba(255, 255, 255, 0.3); }
  .site-list__link--active {
    padding-bottom: 8px; } }

.main-banner {
  position: relative;
  min-height: 502px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 22px; }

.main-banner__wrapper {
  color: #ffffff;
  background-color: #63a937;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 305px;
  padding: 25px 20px 125px 20px;
  text-align: center;
  width: 100%; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .main-banner__wrapper {
      background-image: url("../../img/index-background-mobile@2x.jpg"); } }

.main-banner__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  color: #111111;
  line-height: 1;
  color: #ffffff;
  margin-bottom: 20px; }

.main-banner__description {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  margin: 0; }

.main-banner__img {
  display: block;
  margin-top: -137px; }

.main-banner__confirm {
  min-width: 280px;
  position: absolute;
  bottom: 0%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%); }

@media (min-width: 768px) {
  .main-banner {
    padding: 0 30px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding-left: 120px;
    min-height: 835px; }
  .main-banner__wrapper {
    background: none;
    text-align: left;
    padding-bottom: 48px;
    padding-left: 0;
    min-height: 130px;
    width: 450px;
    z-index: 10; }
  .main-banner__title {
    color: #111111;
    font-size: 60px;
    margin-bottom: 35px; }
  .main-banner__description {
    color: #111111;
    font-size: 20px;
    margin-bottom: 45px; }
  .main-banner__confirm {
    min-width: 245px;
    z-index: 10;
    position: static;
    -webkit-transform: none;
            transform: none; }
  .main-banner__img {
    display: block;
    position: absolute;
    bottom: 0;
    right: 250px;
    width: 709px;
    height: 609px; } }

@media (min-width: 1300px) {
  .main-banner {
    padding: 0 40px;
    max-width: 1300px;
    margin: 0 auto;
    min-height: 555px; }
  .main-banner__wrapper {
    width: 50%;
    padding-left: 80px;
    padding-top: 80px; }
  .main-banner__title {
    font-size: 60px;
    margin-bottom: 36px; }
  .main-banner__description {
    margin-bottom: 45px; }
  .main-banner__confirm {
    display: inline-block; }
  .main-banner__img {
    right: 33%;
    width: 552px;
    height: 499px; } }

.service {
  padding: 0 20px; }

@media (min-width: 768px) {
  .service {
    padding: 0 30px; } }

@media (min-width: 1300px) {
  .service {
    padding: 0 40px;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 40px; } }

.service-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.service-list__item {
  position: relative;
  background-color: #f2f2f2;
  padding-top: 22px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 20px;
  margin-bottom: 20px;
  width: 100%;
  min-height: 266px; }
  .service-list__item::before {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #68b738;
    position: absolute;
    top: 22px;
    left: 22px; }
  .service-list__item::after {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1; }
  .service-list__item--slim::after {
    top: 22px;
    left: 30px;
    background-image: url("../img/icon-cat-slim.svg");
    width: 35px;
    height: 49px; }
  .service-list__item--pro::after {
    top: 35px;
    left: 13px;
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg"); }

.service-list__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 50px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  min-height: 50px;
  padding-left: 70px; }

.service-list__description {
  line-height: 1.3;
  padding: 22px 0;
  border-bottom: 1px solid #dedede;
  margin: 0;
  margin-bottom: 17px; }

.service-list__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  text-decoration: none; }

@media (min-width: 768px) {
  .service-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    min-height: 372px;
    padding-top: 70px;
    padding-right: 300px;
    padding-bottom: 60px;
    padding-left: 52px;
    margin-bottom: 30px; }
    .service-list__item::before {
      width: 200px;
      height: 200px;
      top: 92px;
      right: 62px;
      left: auto; }
    .service-list__item--slim::after {
      width: 141px;
      height: 194px;
      top: 80px;
      right: 92px;
      left: auto; }
    .service-list__item--pro::after {
      width: 268px;
      height: 113px;
      top: 135px;
      right: 28px;
      left: auto; }
  .service-list__description {
    border-bottom: none;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 1.5; }
  .service-list__title {
    padding-left: 0;
    font-size: 36px; }
  .service-list__link {
    font-size: 20px; } }

@media (min-width: 1300px) {
  .service-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .service-list__item {
    width: calc(50% - 40px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 40px;
    padding-right: 55px;
    padding-bottom: 60px;
    padding-left: 52px;
    margin-bottom: 0; }
    .service-list__item::before {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px; }
    .service-list__item--slim::after {
      width: 71px;
      height: 97px;
      top: 41px;
      left: 65px;
      right: auto; }
    .service-list__item--pro::after {
      width: 134px;
      height: 57px;
      top: 69px;
      left: 34px;
      right: auto; }
  .service-list__title {
    min-height: 100px;
    padding-left: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.tutorial {
  padding: 0 20px; }

.tutorial__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  color: #111111;
  margin-bottom: 30px; }

@media (min-width: 768px) {
  .tutorial {
    padding: 0 30px; }
  .tutorial__title {
    font-size: 60px; } }

@media (min-width: 1300px) {
  .tutorial {
    padding: 0 40px;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 15px; } }

.testimonial {
  background-color: #f2f2f2;
  padding-top: 20px;
  padding-bottom: 35px; }

.testimonial__description {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.testimonial__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  color: #111111;
  margin: 0;
  margin-bottom: 25px; }

.testimonial__result {
  line-height: 18px;
  margin: 0;
  margin-bottom: 27px; }

.testimonial__summary,
.testimonial__costs {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.testimonial__costs {
  margin-bottom: 44px; }

@media (min-width: 768px) {
  .testimonial {
    background-color: white;
    border-top: 1px solid #ededed;
    padding-top: 45px;
    padding-bottom: 75px; }
  .testimonial__title {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 62px; }
  .testimonial__description {
    padding: 0 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 50px; }
  .testimonial__result {
    font-size: 16px;
    line-height: 1.5;
    padding-right: 30px;
    margin-bottom: 55px; }
  .testimonial__summary {
    width: auto; }
  .testimonial__costs {
    width: auto; } }

@media (min-width: 1300px) {
  .testimonial {
    padding-top: 25px;
    border-top: none; }
  .testimonial__wrapper {
    padding: 0 40px;
    max-width: 1300px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .testimonial__title {
    margin-bottom: 135px; }
  .testimonial__description {
    width: 50%;
    padding: 0; }
  .testimonial__result {
    padding-right: 160px; }
  .testimonial__summary {
    width: 100%; }
  .testimonial__costs {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.slider {
  width: 311px;
  margin: 0 auto; }

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 30px; }

.slider__item {
  display: none; }
  .slider__item--active {
    display: block; }

@media (min-width: 768px) {
  .slider {
    width: 636px; }
  .slider__item {
    height: 517px; } }

.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 20px;
  width: 210px;
  margin: 0 auto; }

.toggle__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  border: none;
  background-color: transparent;
  text-transform: uppercase; }

.toggle__scale {
  width: 84px;
  height: 14px;
  border-color: #cdcdcd;
  border-radius: 40px 40px 40px 40px;
  background-color: #ffffff;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 6px;
  padding-left: 6px; }

.toggle__bar {
  width: 50%;
  height: 6px;
  background-color: #68b738;
  border-radius: 40px 40px 40px 40px; }
  .toggle__bar--after {
    left: 50%; }

@media (min-width: 768px) {
  .toggle {
    width: 580px; }
  .toggle__button {
    font-size: 20px; }
  .toggle__scale {
    position: relative;
    width: 428px;
    background-color: #eaeaea;
    height: 6px;
    border-radius: 2px; }
  .toggle__bar {
    position: absolute;
    top: -13px;
    left: 0;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 8px;
    height: 8px;
    background-color: #68b738;
    border: 13px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15); } }

.summary-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.summary-list__item {
  margin-right: 32px;
  margin-bottom: 5px;
  width: 124px; }
  .summary-list__item:last-child {
    margin-right: 0; }

.summary-list__value {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  color: #111111;
  border-radius: 3px;
  border: solid 1px #cdcdcd;
  margin: 0;
  min-height: 56px;
  text-align: center;
  padding-top: 15px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 5px; }

.summary-list__option {
  font-size: 12px;
  margin: 0 auto;
  width: calc(100% - 36px);
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  background: #f2f2f2;
  position: relative;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%); }

@media (min-width: 768px) {
  .summary-list__item {
    width: 162px;
    margin-right: 42px; }
  .summary-list__value {
    font-size: 30px;
    padding-bottom: 23px; }
  .summary-list__option {
    font-size: 14px;
    width: calc(100% - 15px);
    background-color: white; } }

@media (min-width: 1300px) {
  .summary-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; } }

.costs {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.costs__option {
  margin: 0; }

.costs__value {
  margin: 0; }

@media (min-width: 768px) {
  .costs {
    font-size: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 0; } }

@media (min-width: 1300px) {
  .costs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .costs__option {
    margin-right: 65px; } }

.steps-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 35px; }

.steps-list__item {
  position: relative;
  min-height: 70px;
  padding-left: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 1.3;
  margin-bottom: 10px; }
  .steps-list__item:last-child {
    margin-bottom: 0; }
  .steps-list__item::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    background-color: #68b738;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center; }
  .steps-list__item--ingredients::before {
    background-image: url("../img/advantage-leaf@1x.png"); }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .steps-list__item--ingredients::before {
        background-image: url("../img/advantage-leaf@2x.png");
        background-size: 50%; } }
  .steps-list__item--recipe::before {
    background-image: url("../img/advantage-powder@1x.png"); }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .steps-list__item--recipe::before {
        background-image: url("../img/advantage-powder@2x.png");
        background-size: 50%; } }
  .steps-list__item--dose::before {
    background-image: url("../img/advantage-dining@1x.png"); }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .steps-list__item--dose::before {
        background-image: url("../img/advantage-dining@2x.png");
        background-size: 50%; } }
  .steps-list__item--result::before {
    background-image: url("../img/advantage-clock@1x.png"); }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .steps-list__item--result::before {
        background-image: url("../img/advantage-clock@2x.png");
        background-size: 50%; } }

@media (min-width: 768px) {
  .steps-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 0; }
  .steps-list__item {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    width: calc(50% - 30px);
    min-height: 315px;
    padding-top: 140px;
    padding-left: 0;
    padding-right: 60px;
    margin-bottom: 0; }
    .steps-list__item::before {
      width: 80px;
      height: 80px;
      top: 29px; }
    .steps-list__item::after {
      font-size: 280px;
      line-height: 1;
      font-family: "Oswald", "Arial", sans-serif;
      color: #f2f2f2;
      position: absolute;
      top: -13px;
      right: 50%;
      -webkit-transform: translateX(50%);
              transform: translateX(50%);
      z-index: -1; }
    .steps-list__item--ingredients::after {
      content: "1"; }
    .steps-list__item--recipe::after {
      content: "2"; }
    .steps-list__item--dose::after {
      content: "3"; }
    .steps-list__item--result::after {
      content: "4"; } }

@media (min-width: 1300px) {
  .steps-list__item {
    width: calc(25% - 60px);
    padding-top: 140px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0; }
    .steps-list__item::after {
      right: 0;
      -webkit-transform: none;
              transform: none; } }

.page-footer {
  background-color: #f2f2f2; }

.page-footer__wrapper {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.page-footer__logo {
  border-bottom: 1px solid #dadada;
  min-height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #111111; }
  .page-footer__logo[href]:hover, .page-footer__logo[href]:focus {
    opacity: 0.8; }
  .page-footer__logo[href]:active {
    opacity: 0.6; }

.page-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 60px;
  border-bottom: 1px solid #dadada; }

.page-footer__copyright {
  min-height: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media (min-width: 768px) {
  .page-footer__wrapper {
    padding: 0 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 150px;
    padding-bottom: 10px; }
  .page-footer__logo {
    width: calc(33% - 50px);
    border-bottom: none;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .page-footer__social {
    width: calc(33% - 50px);
    padding: 0;
    border-bottom: none; }
  .page-footer__copyright {
    width: calc(33% - 50px);
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; } }

@media (min-width: 1300px) {
  .page-footer__wrapper {
    padding: 0;
    width: 100%;
    padding: 0 40px;
    max-width: 1300px;
    margin: 0 auto; } }

.copyright__link {
  font-size: 16px;
  color: #444444;
  text-decoration: none; }
  .copyright__link:hover, .copyright__link:focus {
    color: #68b738; }
  .copyright__link:active {
    color: #68b738;
    opacity: 0.3; }

.copyright__logo {
  color: #666666; }
  .copyright__logo:hover, .copyright__logo:focus {
    color: #68b738; }
  .copyright__logo:active {
    color: #68b738;
    opacity: 0.3; }

@media (min-width: 768px) {
  .copyright__link {
    margin-right: 23px; } }

.catalog__title {
  padding: 0 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  color: #111111;
  color: #111111;
  margin: 0;
  min-height: 103px;
  padding-bottom: 10px;
  border-bottom: 1px solid #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media (min-width: 768px) {
  .catalog {
    padding: 0 30px; }
  .catalog__title {
    margin: 0;
    padding: 0;
    margin-bottom: 7px;
    border-bottom: none;
    font-size: 60px; } }

@media (min-width: 1300px) {
  .catalog {
    padding: 0 40px;
    max-width: 1300px;
    margin: 0 auto; }
  .catalog__title {
    min-height: 120px;
    padding-top: 30px;
    margin-bottom: 10px; } }

.food-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.food-list__item {
  padding: 0 20px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 23px;
  min-height: 209px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.food-list__title-link {
  text-decoration: none; }

.food-list__wrapper {
  padding-top: 20px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.food-list__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  width: 60%;
  margin: 0;
  margin-bottom: 12px; }

.food-list__img-link {
  width: 140px;
  height: 144px; }

.food-list__order {
  font-size: 16px;
  width: 280px; }

@media (min-width: 768px) {
  .food-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 70px; }
  .food-list__item {
    width: calc(50% - 30px);
    background-color: #f2f2f2;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 40px;
    margin-top: 140px;
    min-height: 431px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .food-list__title-link {
    margin-bottom: 20px; }
  .food-list__title {
    font-size: 20px;
    width: 140px;
    margin: 0 auto;
    text-align: center; }
  .food-list__order {
    width: calc(100% - 70px); }
  .food-list__img-link {
    margin-top: -15%;
    width: 316px;
    height: auto; }
    .food-list__img-link--big {
      margin-top: -25%; }
  .food-list__wrapper {
    width: 100%;
    padding-bottom: 15px;
    padding-right: 35px;
    padding-left: 35px; } }

@media (min-width: 1300px) {
  .food-list {
    margin-bottom: 75px; }
  .food-list__item {
    width: calc(25% - 60px);
    margin: 0;
    margin-top: 142px; }
  .food-list__img-link {
    margin-top: -20%;
    width: 245px;
    height: auto; }
    .food-list__img-link--big {
      margin-top: -35%; } }

.food-info {
  color: #444444;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 12px;
  line-height: 15px; }

.food-info__value {
  text-align: right; }

@media (min-width: 768px) {
  .food-info {
    font-size: 16px;
    line-height: 30px; }
  .food-info__value,
  .food-info__option {
    border-bottom: 1px solid #cecece; } }

.additional-products {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.additional-products__title {
  border-bottom: 1px solid #efefef;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #111111;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 30px; }

.additional-products__order-all {
  font-size: 16px;
  line-height: 1.25;
  background-color: #68b738;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 100%;
  min-height: 289px;
  color: white;
  text-align: center;
  padding-top: 130px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 35px; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .additional-products__order-all {
      background-image: url("../img/gift-photo-mobile@2x.jpg"); } }

@media (min-width: 768px) {
  .additional-products {
    padding: 0; }
  .additional-products__title {
    font-size: 36px;
    line-height: 1;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 37px;
    display: inline-block;
    position: relative;
    border-bottom: none;
    margin-bottom: 75px; }
    .additional-products__title::before, .additional-products__title::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #68b738;
      top: calc(50% + 2px);
      top: 17px; }
    .additional-products__title::before {
      margin-left: calc(-100% - 37px); }
    .additional-products__title::after {
      margin-left: 37px; }
  .additional-products__order-all {
    min-height: 200px;
    padding-left: 60%;
    padding-right: 125px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    margin-bottom: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url("../img/gift-photo-tablet@1x.jpg"); } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .additional-products__order-all {
      background-image: url("../img/gift-photo-tablet@2x.jpg"); } }

@media (min-width: 1300px) {
  .additional-products {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .additional-products__title {
    width: 100%;
    padding-left: 0;
    margin-bottom: 80px; }
  .additional-products__list {
    width: 893px; }
  .additional-products__order-all {
    width: 245px;
    min-height: 289px;
    text-align: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-top: 135px;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 40px;
    background-image: url("../img/gift-photo-desktop@1x.jpg"); } }
  @media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1300px) and (min-resolution: 144dpi), (min-width: 1300px) and (min-resolution: 1.5dppx) {
    .additional-products__order-all {
      background-image: url("../img/gift-photo-desktop@2x.jpg"); } }

.additional-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 39px; }

@media (min-width: 768px) {
  .additional-list {
    margin-bottom: 70px; } }

@media (min-width: 1300px) {
  margin-bottom: 90px; }

.additional-item {
  border-bottom: 1px solid #efefef;
  padding-top: 7px;
  padding-bottom: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.additional-item__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-bottom: 10px; }

@media (min-width: 768px) {
  .additional-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    padding-top: 15px;
    padding-right: 37px;
    padding-bottom: 15px;
    padding-left: 37px;
    min-height: 139px;
    border: 1px solid #ededed; }
  .additional-item__title {
    width: calc(60% - 10px);
    font-size: 20px;
    line-height: 1;
    margin: 0; }
  .additional-item__price-unit {
    width: calc(40% - 10px);
    margin: 0; }
  .additional-item__order {
    font-size: 16px;
    width: 100%; } }

@media (min-width: 1300px) {
  .additional-item {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    min-height: 72px;
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-right: none;
    border-left: none; }
  .additional-item__title {
    width: 290px;
    padding-right: 10px; }
  .additional-item__price-unit {
    width: 290px; }
  .additional-item__order {
    width: 245px; } }

.price-unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-bottom: 13px; }

@media (min-width: 768px) {
  .price-unit {
    font-size: 16px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 0; }
  .price-unit__price {
    margin-left: 65px; } }

@media (min-width: 1300px) {
  .price-unit {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-item-align: center;
        align-self: center;
    padding-right: 10px;
    padding-top: 5px; }
  .price-unit__price {
    margin: 0; } }

.show-all {
  padding-top: 77px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  border-bottom: 1px solid #efefef;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.show-all__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #111111;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 5px; }

.show-all__note {
  font-size: 12px;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 22px; }

.show-all__link {
  color: #444444;
  background-color: #f2f2f2;
  width: 100%;
  max-width: 280px; }

@media (min-width: 768px) {
  .show-all {
    width: calc(50% - 30px);
    padding-top: 165px;
    padding-bottom: 40px;
    padding-right: 38px;
    padding-left: 38px;
    background-color: white;
    border: 1px solid #efefef; }
  .show-all__title {
    font-size: 20px;
    line-height: 1;
    width: 150px;
    margin-bottom: 25px;
    text-align: center; }
  .show-all__note {
    font-size: 16px;
    width: 170px;
    text-align: center;
    line-height: 1; }
  .show-all__link {
    font-size: 16px;
    width: 100%;
    margin-top: auto; } }

@media (min-width: 1300px) {
  .show-all {
    width: calc(25% - 60px); } }

.form-page {
  padding-top: 18px; }

.form-page__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  color: #111111;
  padding: 0 20px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 27px;
  margin-left: 0; }

.form-page__invite {
  padding: 0 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  line-height: 1.3;
  width: 275px;
  margin: 0;
  margin-bottom: 30px; }

@media (min-width: 768px) {
  .form-page {
    padding: 0 30px;
    padding-top: 25px; }
  .form-page__title {
    padding: 0;
    font-size: 60px;
    line-height: 1;
    margin-bottom: 55px; }
  .form-page__invite {
    font-size: 20px;
    line-height: 1.5;
    padding: 0 40px;
    width: 410px;
    margin-bottom: 45px; } }

@media (min-width: 1300px) {
  .form-page {
    padding: 0 40px;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 47px; }
  .form-page__invite {
    padding: 0;
    width: 340px;
    margin-bottom: 65px; } }

.request-form {
  font-family: "Oswald", "Arial", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 34px; }

.request-form__field-wrapper {
  padding: 0 20px; }

.request-form__field-group {
  border: none;
  padding: 0;
  margin: 0; }

.request-form__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.request-form__legend {
  position: relative;
  width: 100%;
  font-size: 24px;
  line-height: 1;
  padding: 0;
  color: #111111; }
  .request-form__legend::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #68b738;
    top: calc(50% + 2px);
    top: 12px;
    margin-left: 23px; }

.request-form__label {
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
  white-space: nowrap; }

.request-form__input {
  font-family: "Oswald", "Arial", sans-serif;
  border: 1px solid #cdcdcd;
  font-size: 16px;
  padding-right: 13px;
  padding-left: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 1;
  color: #444444;
  text-transform: uppercase; }

.request-form__submit {
  font-size: 16px;
  border: none;
  width: 280px;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 23px; }

.request-form__footnote {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  -ms-flex-item-align: center;
      align-self: center; }

@media (min-width: 768px) {
  .request-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 72px; }
  .request-form__legend {
    font-size: 36px;
    line-height: 1; }
    .request-form__legend::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #68b738;
      top: calc(50% + 2px);
      top: 16px;
      margin-left: 47px; }
    .request-form__legend::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #68b738;
      top: calc(50% + 2px);
      top: 16px;
      margin-left: calc(-100% - 20px); }
  .request-form__label,
  .request-form__input {
    font-size: 20px; }
  .request-form__input {
    padding-left: 20px; }
  .request-form__field-wrapper {
    padding-left: 40px;
    padding-right: 40px;
    width: 100%; }
  .request-form__submit {
    font-size: 20px;
    min-width: 283px;
    height: 52px;
    margin-bottom: 0;
    margin-left: 40px; }
  .request-form__footnote {
    width: calc(50% - 30px);
    font-size: 16px; } }

@media (min-width: 1300px) {
  .request-form {
    padding-bottom: 80px; }
  .request-form__field-wrapper {
    padding: 0; }
  .request-form__submit {
    margin: 0;
    width: 568px; } }

.cat-date {
  border: none;
  padding-top: 10px;
  padding-bottom: 20px; }

.cat-date__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 14px; }
  .cat-date__item:last-child {
    margin-bottom: 0; }

.cat-date__label {
  margin-right: 15px; }

.cat-date__input {
  height: 45px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

@media (min-width: 768px) {
  .cat-date {
    padding-top: 20px;
    padding-bottom: 50px; }
  .cat-date__item {
    margin-bottom: 20px; }
  .cat-date__input {
    height: 52px;
    padding: 5px 20px; } }

@media (min-width: 1300px) {
  .cat-date {
    width: calc(50% - 40px);
    padding-top: 0;
    padding-bottom: 0; } }

.choosing-program {
  padding: 0;
  margin-bottom: 25px; }

.choosing-program__field-group {
  padding: 0 20px;
  border: 1px solid #cdcdcd;
  padding-top: 20px;
  padding-bottom: 20px; }

.choosing-program__item {
  margin-bottom: 8px;
  padding-left: 43px;
  min-height: 30px; }
  .choosing-program__item:last-child {
    margin-bottom: 0; }

.choosing-program__label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 8px 0; }
  .choosing-program__label::before {
    content: "";
    width: 30px;
    height: 30px;
    top: 0;
    left: -45px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute; }

.choosing-program__input:checked + .choosing-program__label::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 9px;
  left: -36px;
  border-radius: 50%;
  background-color: #68b738; }

@media (min-width: 768px) {
  .choosing-program {
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 50px; }
  .choosing-program__field-group {
    padding-top: 25px;
    padding-bottom: 25px; }
  .choosing-program__item {
    margin-bottom: 13px;
    padding-left: 67px;
    min-height: 40px; }
  .choosing-program__label::before {
    width: 40px;
    height: 40px;
    top: 0;
    left: -60px;
    background-color: #ffffff;
    border: 1px solid #cdcdcd; }
  .choosing-program__input:checked + .choosing-program__label::after {
    width: 18px;
    height: 18px;
    top: 11px;
    left: -49px; } }

@media (min-width: 1300px) {
  .choosing-program {
    width: calc(50% - 40px);
    padding-right: 0;
    padding-left: 0; }
  .choosing-program__field-group {
    padding-top: 25px;
    padding-bottom: 25px; } }

.owner-date {
  padding-top: 10px;
  padding-bottom: 20px; }

.owner-date__legend {
  margin-bottom: 30px; }

.owner-date__item {
  margin-bottom: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .owner-date__item:last-child {
    margin-bottom: 0; }

.owner-date__input {
  width: 100%;
  height: 45px;
  padding-right: 40px; }

.owner-date__label {
  margin-right: 10px; }

@media (min-width: 768px) {
  .owner-date {
    padding-top: 20px;
    padding-bottom: 50px; }
  .owner-date__legend {
    margin-bottom: 75px; }
    .owner-date__legend::after {
      top: 20px;
      margin-left: 43px; }
  .owner-date__item {
    height: 52px;
    margin-bottom: 20px; } }

@media (min-width: 1300px) {
  .owner-date__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .owner-date__item {
    width: calc(50% - 39px);
    margin-bottom: 0; }
  .owner-date__input {
    height: 52px; }
  .owner-date__label {
    margin-right: 20px; } }

.form-comment {
  padding-top: 10px;
  padding-bottom: 20px; }

.form-comment__legend {
  margin-bottom: 30px; }

.form-comment__input {
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 150px;
  width: 100%;
  resize: none; }

@media (min-width: 768px) {
  .form-comment {
    padding-top: 20px;
    padding-bottom: 40px; }
  .form-comment__legend {
    margin-bottom: 75px; }
  .form-comment__input {
    padding-top: 13px;
    min-height: 174px; } }

.additional-order {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 15px; }

.additional-order__legend {
  margin-bottom: 30px; }

.additional-order__item {
  min-height: 30px;
  padding: 5px;
  padding-left: 45px;
  margin-bottom: 12px; }
  .additional-order__item:last-child {
    margin-bottom: 0; }

.additional-order__label {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.additional-order__label::before {
  position: absolute;
  top: 0;
  left: -45px;
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #ededed; }

.additional-order__input:checked + .additional-order__label::after {
  position: absolute;
  top: 0;
  left: -35px;
  width: 10px;
  height: 20px;
  content: "";
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border: solid #68b738;
  border-width: 0 2px 2px 0; }

@media (min-width: 768px) {
  .additional-order {
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 11px; }
  .additional-order__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .additional-order__legend {
    margin-bottom: 30px; }
  .additional-order__item {
    width: calc(50% - 30px);
    min-height: 40px;
    margin-top: 30px;
    margin-bottom: 0;
    padding-left: 58px; }
  .additional-order__label::before {
    top: 0;
    left: -60px;
    width: 40px;
    height: 40px; }
  .additional-order__input:checked + .additional-order__label::after {
    top: 6px;
    left: -44px;
    width: 13px;
    height: 19px;
    border-width: 0 2px 2px 0; } }

@media (min-width: 1300px) {
  .additional-order {
    margin-bottom: 18px; }
  .additional-order__item {
    width: calc(25% - 60px); } }

.footer-contacts {
  position: relative; }

.footer-contacts__map {
  height: 365px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .footer-contacts__map {
      background-image: url("../img/bg-map-mobile@2x.png"); } }

@media (min-width: 768px) {
  .footer-contacts__map {
    background-image: url("../img/bg-map-tablet@1x.png");
    height: 400px; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .footer-contacts__map {
      background-image: url("../img/bg-map-tablet@2x.png"); } }

@media (min-width: 1300px) {
  .footer-contacts__address {
    position: absolute;
    top: 50%;
    left: 40px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .footer-contacts__map {
    background-image: url("../img/bg-map-desktop@1x.png"); } }
  @media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1300px) and (min-resolution: 144dpi), (min-width: 1300px) and (min-resolution: 1.5dppx) {
    .footer-contacts__map {
      background-image: url("../img/bg-map-desktop@2x.png"); } }

.footer-address {
  padding: 0 20px;
  min-height: 114px;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer-address__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  width: calc(50% - 10px);
  max-width: 153px; }

.footer-address__text {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  width: 50%;
  max-width: 160px; }

@media (min-width: 768px) {
  .footer-address {
    padding-right: 70px;
    padding-left: 70px;
    min-height: 200px; }
  .footer-address__title {
    font-size: 20px; }
  .footer-address__text {
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: right;
    min-height: 80px; } }

@media (min-width: 1300px) {
  .footer-address {
    width: 570px;
    min-height: 201px;
    padding-right: 90px;
    padding-left: 75px; }
  .footer-address__text {
    width: 155px;
    text-align: left; } }

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.social-list__item {
  margin-right: 35px; }
  .social-list__item:last-child {
    margin-right: 0; }

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  color: #666666; }
  .social-list__link:hover, .social-list__link:focus {
    color: #68b738; }
  .social-list__link:active {
    color: #68b738;
    opacity: 0.3; }

@media (min-width: 768px) {
  .social-list__link {
    width: 28px;
    height: 28px; }
  .social-list__item {
    margin-right: 28px; }
  .social-list__icon--vk {
    width: 28px;
    height: 16px; }
  .social-list__icon--instagram {
    width: 23px;
    height: 23px; }
  .social-list__icon--fb {
    width: 14px;
    height: 28px; } }

/*# sourceMappingURL=style.css.map */
