@mixin section-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  color: $title-color;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin catalog-border {
  border-bottom: 1px solid rgb(239, 239, 239);
}

@mixin mobile-padding {
  padding: 0 20px;
}

@mixin tablet-padding {
  padding: 0 30px;
}

@mixin desktop-padding {
  padding: 0 40px;
}

@mixin block-centered {
  padding: 0 40px;
  width: 1300px;
  margin: 0 auto;
}
