//palette
$primary-bg: rgb(255, 255, 255);
$secondary-bg: rgb(242, 242, 242);
$text-color: rgb(68, 68, 68);
$title-color: rgb(17, 17, 17);
$label-color: rgb(34, 34, 34);
$button-bg: rgb(104, 183, 56);
$button-hover: rgb(94, 170, 47);
$button-down: rgb(94, 170, 47);
$input-border: rgb(205, 205, 205);
$input-color: rgb(68, 68, 68);
//breakpoints
$tablet-width: 768px;
$desktop-width: 1100px;
